@import url("https://fonts.googleapis.com/css2?family=Montserrat&dispaly=swap");
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body, #root {
    height: 100vh;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
}

body, input, textarea, select,button {
    font-size: 1.6rem;
    font-family: Mpntserrat,Helvetica, Arial, sans-serif;
}

a:hover {
    text-decoration: none;
    color: #ff8000;
}

header {
    grid-area: header;
    background: #203040;
    color: white;
    display: flex;
    text-align: center;
    padding: 6px;
}

header a {
    color: white;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background: #203040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 3 60rem;
}

.sidebar {
    flex: 1 20rem;
}

/*Products*/
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.products li {
    flex: 0 1 29rem;
    height: 47rem;
    padding: 1rem;
    margin: 3rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product img {
    max-width: 37rem;
    max-height: 37rem;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price div,
.product-price button {
    text-align: center;
    flex: 1;
}

.product-price div {
    font-size: 2rem;
}
/*ProductsButton Style*/
.button-primary:hover{
    border: 0.1rem #808080 solid;
    background-color: gray;

}
.button-primary{
    background-color: #ffc000;
    padding: 1px;
    border: .1rem #c0c0c0 solid;
    cursor:pointer;
}

/*FilterStyle*/
.filter{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-bottom: .1rem #c0c0c0 solid;
}
.filter div{
    flex:1;
}
.filter select {
    border-radius: 8%;
}
/*Style Cart*/
.cart{
    padding: 1rem;
    margin: 1rem;
    display: flex;
}
.cart-header {
    border-bottom: .1rem #c0c0c0 solid;
}
.cart-items {
    padding: 0;
    width: 100%;
}
.cart-items img{
    width: 5rem;
}
.cart-items li{
    display: flex;
}
.cart-items li div {
    padding: 5px;
}
.cart-items li div:last-child{
    flex: 1;
}
.right {
    text-align: right;
}
.button-cart{
    background-color: #d6cfcf;
    padding: 1px;
    border: .1rem #c0c0c0 solid;
    cursor:pointer;
    margin-left: 11px;
}
.button-cart:hover {
    border: 0.1rem #474545 solid;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.total >div{
    font-size: 20px;
}
.total >div,
.total >button{
    flex: 1;
}